@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin centerAuto {
  max-width: 80%;
  margin: auto;
}

// Media Queries Manager
/* 
Proceeding with Good Approach : 
Desktop First Apprach
 using the analytics data for most used devices wrt to their width

 0-600px : Phone
 600-900px : Tablet Portrait
 900-1200px : Tablet Landscape
1200-1800 : Desktop (where normal styles apply)
1800+ : Big screens


*/

/* $breakpoint arguments 
-phone
-tab-port 
-tab-land
-big-desktop

1em = 16px (as rem does not work in some browssers)

Order: Base + typography > general layout + grid > page layout >componenets
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

// $bp-largest: 75em; // 1200px  1200/16 = 75em
// $bp-large: 68.75em; // 1100px
// $bp-medium: 56.25em; // 900px
// $bp-small: 37.5em; // 600px
// $bp-smallest: 31.25em; // 500px
// @media only screen and (max-width: $bp-largest) {
//   margin: 0;
//   max-width: 100%;
//   width: 100%;
// }
