//css
:root {
  //HEadings
  --h1: calc(2rem + 1vw);
  --h2: calc(3.5rem + 1vw);
  --h3: calc(3rem + 1vw);
  --h4: calc(2.4rem + 1vw);
  --p: calc(1.5rem + 1vw);
  --bigtext: calc(6rem + 1vw);

  --shadow-dark: 1rem 1rem 4rem rgba(0, 0, 0, 0.5),
    -1rem -1rem 4rem rgba(0, 0, 0, 0.5);
  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.05);
}

//Colors
$color-primary: #ffb142;
$color-primary-light: #ffda79;
$color-primary-dark: #cc8e35;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark: #777;
$color-grey-dark-3: #999;
$color-black: #000;
$color-white: #fff;
// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$font-secondary: "Rubik", sans-serif;
