%heading {
  font-family: $font-primary;
  font-weight: 400;
}

%paragraph {
  font-family: $font-secondary;
  font-weight: 100;
}

h1 {
  @extend %heading;
  font-size: var(--h1);
}
h2 {
  @extend %heading;
  font-size: var(--h2);
}

h3 {
  @extend %heading;
  font-size: var(--h3);
}

h4 {
  @extend %heading;
  font-size: var(--h4);
}

h5 {
  @extend %heading;
  font-size: var(--h5);
}
li,
button,
label,
input,
p {
  @extend %paragraph;
  font-size: var(--p);
}
