.large-hero {
  position: relative;
  min-height: 90vh;
  img {
    height: 100%;
    object-fit: cover;
    filter: sepia(0.5);
  }
  &__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__title {
    color: $color-primary;
  }
  &__subtitle {
    color: $color-primary;
  }
  &__description {
    color: $color-white;
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    max-width: 50rem;
  }
}
